
  @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Anonymous+Pro&family=Fira+Mono:wght@400;500;700&family=Honk&family=JetBrains+Mono:wght@200;400;500;600&family=Mitr:wght@200;300;400;500&family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,600;6..12,700&family=Open+Sans&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:wght@300&family=Rethink+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
 font-family: 'JetBrains Mono', monospace; 
}
body{
  background: url('C:\Users\muham\OneDrive\Desktop\React\To do list\src\assets\top-view-agenda-glasses-pencil.jpg') no-repeat center center fixed;
  background-size: cover;  background-size: cover;

}
.to-do-list{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h2{
  font-size: 2.8rem;
  color: rgb(211, 209, 209);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button{
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}

.add-button{
  background-color: #10205b;
  font-size: 1.3rem;
  border-radius: 0 5px 5px 0;
}
.add-button:hover{
  background-color: #10205b;
}
.delete-button{
  background-color:#333283;
  color: white;
}
.delete-button:hover{
  background-color:#3c3b83;
}
.move-button{
  background-color: #535C91;
}
.move-button:hover{
  background-color: #5d6697;
}
input[id='inputTag']{
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  color: black;
  border: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(238, 234, 234, 0.919);
  width: 80%;
}
input[id='nameInput']{
  padding: 10px;
  width: 530px;
  background-color: rgb(230, 230, 233, 0.6);
  border-radius: 10px;
  color: black;
  font-size: 1.1rem;
  border: none;
  outline: 2px solid rgb(62, 62, 62);
  outline-offset: 4px; 
  
}
input::placeholder {
  color: #232323;
  font-size: large;
  
}
ol{
  padding: 0px;
}
li{
  font-size: 1.4rem;
  font-weight: bold;
  padding: 9px;
  background-color: rgba(156, 152, 152, 0.8);
  margin-bottom: 10px;
  border: 3px solid rgb(200, 199, 199);
  border-radius: 5px;
  display: flex;
  align-items: center;
  min-width: 900px;
  transition: transform 0.3s ease; 

}
li:hover{
  background-color: #6e6c6c;
  transform: scale(1.03);
  cursor: pointer;
}

.text{
  flex:1;
}
.delete-button, .move-button {
  padding: 8px 12px;
  margin-left: 10px;
  font-size: 1.4rem;
}
.center-div{
  display: flex;
  justify-content: center;
  padding: 19px;
  text-align: center;
}
.center-div input{
  width: 770px;
}
.content-div{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.welcome-heading{
  display: flex;
  justify-content: center;
  margin-top: 200px;
  text-align: center;
}

h3{
  color: beige;
  font-size: 2.4rem;
  margin-top: 130px;
}

.continue-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0 , 0.4);
  margin-top: 30px;
}

h4{
  color: beige;
  font-size: 2.1rem;
  margin-top: 130px;
}
.nameInput{
  border-radius: 10;
}
.removeUser{
  position: fixed;
  right: 20px;
  bottom: 40px;
  color: rgb(237, 237, 237);
  font-weight: 400;
  background-color: rgb(109, 111, 112);
  padding: 8px;
  cursor: pointer;
}

.welcome-container {
  max-width: 600px; 
  margin: 0 auto;  
}

@media (max-width: 768px) {
  
  .welcome-container {
    padding: 15px;  
  }

  .continue-button {
    width: auto;   
  }
}


